<div class="container mt-4">
  <h3>Manage Students</h3>

  <table class="table table-bordered table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Roll No</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students">
        <ng-container *ngIf="editingStudent?.id !== s.id">
          <td>{{ s.name }}</td>
          <td>{{ s.class }}</td>
          <td>{{ s.rollNo }}</td>
          <td>{{ s.phone }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="editStudent(s)">Edit</button>&nbsp;&nbsp;
            <button class="btn btn-danger btn-sm" (click)="deleteStudent(s.id)">Delete</button>
          </td>
        </ng-container>
        <ng-container *ngIf="editingStudent && editingStudent?.id === s.id">
          <td><input [(ngModel)]="editingStudent.name" class="form-control"></td>
          <td><input [(ngModel)]="editingStudent.class" class="form-control"></td>
          <td><input [(ngModel)]="editingStudent.rollNo" class="form-control"></td>
          <td><input [(ngModel)]="editingStudent.phone" class="form-control"></td>
          <td><button class="btn btn-success btn-sm" (click)="updateStudent()">Save</button>&nbsp;&nbsp;
            <button class="btn btn-success btn-sm" (click)="cancelEdit()">cancel</button></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
